* {
  box-sizing: border-box;
  marign: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

section {
//   this is the offset magic
  scroll-margin-top: 100px;
//   
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  background: rgba(0,0,0,.7);
  margin: 0;
  
  ul {
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  li {
    height: 100px;
    display: flex;
    align-items: center;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    padding: 15px 30px;
    
    &:hover {
      color: orange;
    }
  }
}

#one {
  background: #900C3E;
}

#two {
  background: #C7003A;
}

#three {
  background: #FF5734;
}

#four {
  background: #FFC300;
}
